<a href="https://colab.research.google.com/github/DarshanaHeendeniya/ML_Learning/blob/main/Copy_of_Loan_payment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing required packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Loading test and training data to DataFrames
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
# Explore data
train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593994 entries, 0 to 593993
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    593994 non-null  int64
 1   annual_income         593994 non-null  float64
 2   debt_to_income_ratio  593994 non-null  float64
 3   credit_score          593994 non-null  int64
 4   loan_amount           593994 non-null  float64
 5   interest_rate         593994 non-null  float64
 6   gender                593994 non-null  object
 7   marital_status        593994 non-null  object
 8   education_level       593994 non-null  object
 9   employment_status     593994 non-null  object
 10  loan_purpose          593994 non-null  object
 11  grade_subgrade        593994 non-null  object
 12  loan_paid_back        593994 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 58.9+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254569 entries, 0 to 254568
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    254569 non-null  int64
 1   annual_income         254569 non-null  float64
 2   debt_to_income_ratio  254569 non-null  float64
 3   credit_score          254569 non-null  int64
 4   loan_amount           254569 non-null  float64
 5   interest_rate         254569 non-null  float64
 6   gender                254569 non-null  object
 7   marital_status        254569 non-null  object
 8   education_level       254569 non-null  object
 9   employment_status     254569 non-null  object
 10  loan_purpose          254569 non-null  object
 11  grade_subgrade        254569 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 23.3+ MB

In [6]:
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [7]:
# Remove null values from the DataFrame first
train = train.dropna()

# Selecting the target variable
y = train['loan_paid_back']
X = train.drop('loan_paid_back', axis=1)

In [8]:
X.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1

In [9]:
# This cell was moved earlier to ensure data is clean before defining X and y.

In [10]:
train['education_level'].unique()

array(['High School', "Master's", "Bachelor's", 'PhD', 'Other'],
      dtype=object)

In [11]:
train['employment_status'].unique()

array(['Self-employed', 'Employed', 'Unemployed', 'Retired', 'Student'],
      dtype=object)

In [12]:
train['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [13]:
train['marital_status'].unique()

array(['Single', 'Married', 'Divorced', 'Widowed'], dtype=object)

In [14]:
train.isnull().sum()

id                      0
annual_income           0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
interest_rate           0
gender                  0
marital_status          0
education_level         0
employment_status       0
loan_purpose            0
grade_subgrade          0
loan_paid_back          0
dtype: int64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# The ordinal encoding for 'education_level' is now handled in cell XOzcnJcHGw4z,
# along with 'gender' and 'marital_status'. This cell is now redundant.

In [17]:
X_train.columns

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade'],
      dtype='object')

In [18]:
odr_cols = ['education_level']
odr_encoder = OrdinalEncoder()
X_train[odr_cols] = odr_encoder.fit_transform(X_train[odr_cols])
X_test[odr_cols] = odr_encoder.transform(X_test[odr_cols])

In [19]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
119010,119010,17165.69,0.071,719,19154.78,9.31,Male,Married,0.0,Employed,Debt consolidation,C5
165500,165500,87929.11,0.071,728,7367.61,11.94,Female,Single,1.0,Employed,Debt consolidation,C2
290800,290800,37254.01,0.080,654,2672.78,12.52,Female,Single,0.0,Employed,Other,D4
184308,184308,25863.67,0.068,732,10703.41,10.71,Male,Married,3.0,Employed,Other,C5
137347,137347,153072.69,0.090,668,7782.41,10.59,Female,Married,2.0,Unemployed,Car,D2

In [20]:
# Applying One Hot Encoding to gender, marital_status, employment_status, grade_subgrade and loan_purpose
OH_cols = ['gender', 'marital_status', 'employment_status', 'grade_subgrade', 'loan_purpose']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_encoded_train = OH_encoder.fit_transform(X_train[OH_cols])
OH_encoded_test = OH_encoder.transform(X_test[OH_cols])
col_names = OH_encoder.get_feature_names_out(OH_cols)
OH_encoded_train = pd.DataFrame(OH_encoded_train, columns=col_names)
OH_encoded_test = pd.DataFrame(OH_encoded_test, columns=col_names)

OH_encoded_train.index = X_train.index
OH_encoded_test.index = X_test.index

num_X_train = X_train.drop(OH_cols, axis=1)
num_X_test = X_test.drop(OH_cols, axis=1)

X_train = pd.concat([num_X_train, OH_encoded_train], axis=1)
X_test = pd.concat([num_X_test, OH_encoded_test], axis=1)

X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [21]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
119010,119010,17165.69,0.071,719,19154.78,9.31,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
165500,165500,87929.11,0.071,728,7367.61,11.94,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
290800,290800,37254.01,0.080,654,2672.78,12.52,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
184308,184308,25863.67,0.068,732,10703.41,10.71,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
137347,137347,153072.69,0.090,668,7782.41,10.59,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
X_test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
404674,404674,52470.61,0.241,724,27172.82,13.35,4.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549728,549728,28424.82,0.033,779,15895.96,11.57,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
125237,125237,25229.55,0.195,569,15216.06,13.83,2.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
512666,512666,91612.58,0.166,659,13166.90,12.47,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
101001,101001,79712.79,0.079,767,23642.37,11.23,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## Logistic Regression Implementation

In [23]:
# Identify numerical columns for scaling (excluding 'id' if it's just an identifier)
numerical_cols = X_train.select_dtypes(include=['number']).columns.tolist()
# Assuming 'id' is not a feature to be scaled or used in the model, remove it
if 'id' in numerical_cols:
    numerical_cols.remove('id')

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to numerical features in X_train and X_test
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])


# Create logistic regression model
log_reg = LogisticRegression(max_iter=1000) # Increased max_iter already

# train the model
log_reg.fit(X_train, y_train)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Display results
print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 0.9008156634315103
Confusion Matrix:
 [[14529  9468]
 [ 2315 92487]]
Classification Report:
               precision    recall  f1-score   support

         0.0       0.86      0.61      0.71     23997
         1.0       0.91      0.98      0.94     94802

    accuracy                           0.90    118799
   macro avg       0.88      0.79      0.83    118799
weighted avg       0.90      0.90      0.89    118799

### Decision Tree Classifier Implementation

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Create Decision Tree classifer object
dt_classifier = DecisionTreeClassifier(random_state=42)

# Train Decision Tree Classifer
dt_classifier.fit(X_train, y_train)

# Predict the response for test dataset
y_pred_dt = dt_classifier.predict(X_test)

# Evaluate the model performance
accuracy_dt = accuracy_score(y_test, y_pred_dt)
conf_matrix_dt = confusion_matrix(y_test, y_pred_dt)
class_report_dt = classification_report(y_test, y_pred_dt)

# Display results
print("Decision Tree Accuracy:", accuracy_dt)
print("Decision Tree Confusion Matrix:\n", conf_matrix_dt)
print("Decision Tree Classification Report:\n", class_report_dt)

Decision Tree Accuracy: 0.8477007382217022
Decision Tree Confusion Matrix:
 [[15457  8540]
 [ 9553 85249]]
Decision Tree Classification Report:
               precision    recall  f1-score   support

         0.0       0.62      0.64      0.63     23997
         1.0       0.91      0.90      0.90     94802

    accuracy                           0.85    118799
   macro avg       0.76      0.77      0.77    118799
weighted avg       0.85      0.85      0.85    118799

### Random Forest Classifier Implementation

In [25]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Create a Random Forest Classifier object
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42) # n_estimators is the number of trees in the forest

# Train the Random Forest Classifier
rf_classifier.fit(X_train, y_train)

# Predict the response for the test dataset
y_pred_rf = rf_classifier.predict(X_test)

# Evaluate the model performance
accuracy_rf = accuracy_score(y_test, y_pred_rf)
conf_matrix_rf = confusion_matrix(y_test, y_pred_rf)
class_report_rf = classification_report(y_test, y_pred_rf)

# Display results
print("Random Forest Accuracy:", accuracy_rf)
print("Random Forest Confusion Matrix:\n", conf_matrix_rf)
print("Random Forest Classification Report:\n", class_report_rf)

Random Forest Accuracy: 0.9013459709256811
Random Forest Confusion Matrix:
 [[14149  9848]
 [ 1872 92930]]
Random Forest Classification Report:
               precision    recall  f1-score   support

         0.0       0.88      0.59      0.71     23997
         1.0       0.90      0.98      0.94     94802

    accuracy                           0.90    118799
   macro avg       0.89      0.78      0.82    118799
weighted avg       0.90      0.90      0.89    118799

## XGBoost Classification model implementation

In [26]:
# Create XGBoost claasification model
from xgboost import XGBClassifier
xgb_classifier = XGBClassifier(objective='binary:logistic', eval_metric='logloss', n_estimators=200, learning_rate=0.01, max_depth=10, n_jobs=-1, random_state=42, gamma=0.01)

# Train the model
xgb_classifier.fit(X_train, y_train)

# Predict the response for the test dataset
y_pred_xgb = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy_xgb = accuracy_score(y_test, y_pred_xgb)
conf_matrix_xgb = confusion_matrix(y_test, y_pred_xgb)
class_report_xgb = classification_report(y_test, y_pred_xgb)

# Display results
print("XGBoost Accuracy:", accuracy_xgb)
print("XGBoost Confusion Matrix:\n", conf_matrix_xgb)
print("XGBoost Classification Report:\n", class_report_xgb)

XGBoost Accuracy: 0.9024150034932954
XGBoost Confusion Matrix:
 [[13530 10467]
 [ 1126 93676]]
XGBoost Classification Report:
               precision    recall  f1-score   support

         0.0       0.92      0.56      0.70     23997
         1.0       0.90      0.99      0.94     94802

    accuracy                           0.90    118799
   macro avg       0.91      0.78      0.82    118799
weighted avg       0.90      0.90      0.89    118799

## SVM Classification Model

In [27]:
# Create SVM classification model
# from sklearn.svm import SVC

# svm_model = SVC(kernel='rbf', C=1.0, random_state=42)

# Train the model
# svm_model.fit(X_train, y_train)

# Predict the response for the test dataset
# y_pred_svm = svm_model.predict(X_test)

# Evaluate the model
# accuracy_svm = accuracy_score(y_test, y_pred_svm)
# conf_matrix_svm = confusion_matrix(y_test, y_pred_svm)
# class_report_svm = classification_report(y_test, y_pred_svm)

# Display results
# print("SVM Accuracy:", accuracy_svm)
# print("SVM Confusion Matrix:\n", conf_matrix_svm)
# print("SVM Classification Report:\n", class_report_svm)

## Make predictions using full data set

In [28]:
# Using logistic regression

# Loading train and test data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Remove null values in data sets
train = train.dropna()
test = test.dropna()

# Selecting the target variable
train_y = train['loan_paid_back']
train_X = train.drop('loan_paid_back', axis=1)

In [29]:
# Explore test data set
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [30]:
test.columns

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade'],
      dtype='object')

In [31]:
# Ordinal encoding educational_level
odr_cols = ['education_level']
odr_encoder = OrdinalEncoder()
train_X[odr_cols] = odr_encoder.fit_transform(train_X[odr_cols])
test[odr_cols] = odr_encoder.transform(test[odr_cols])

In [33]:
# Explore train data set
train_X.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,1.0,Self-employed,Other,C3
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,2.0,Employed,Debt consolidation,D3
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,1.0,Employed,Debt consolidation,C5
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,1.0,Employed,Debt consolidation,F1
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,1.0,Employed,Other,D1

In [34]:
# Explore test data set
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,1.0,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,2.0,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,0.0,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,0.0,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,4.0,Employed,Business,C1

In [43]:
# One Hot Encoding gender, marital_status, employment_status, learn_purpose and grade_subgrade
OH_cols = ['gender', 'marital_status', 'employment_status', 'grade_subgrade', 'loan_purpose']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_encoded_train = OH_encoder.fit_transform(train_X[OH_cols])
col_names = OH_encoder.get_feature_names_out(OH_cols)
OH_encoded_train = pd.DataFrame(OH_encoded_train, columns=col_names)

OH_encoded_test = OH_encoder.transform(test[OH_cols])
OH_encoded_test = pd.DataFrame(OH_encoded_test, columns=col_names)

# Get numerical columns from train and test data sets
num_train_X = train_X.drop(OH_cols, axis=1)
num_test = test.drop(OH_cols, axis=1)

# Concatenate numerical and one-hot encoded columns
X_train = pd.concat([num_train_X, OH_encoded_train], axis=1)
X_test = pd.concat([num_test, OH_encoded_test], axis=1)

X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [44]:
# Explore train data set
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,0,29367.99,0.084,736,2528.42,13.67,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,22108.02,0.166,636,4593.10,12.92,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,49566.20,0.097,694,17005.15,9.76,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,46858.25,0.065,533,4682.48,16.10,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,25496.70,0.053,665,12184.43,10.21,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [45]:
# Explore test data set
X_test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,593994,28781.05,0.049,626,11461.42,14.73,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,593995,46626.39,0.093,732,15492.25,12.85,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,593996,54954.89,0.367,611,3796.41,13.29,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,593997,25644.63,0.110,671,6574.30,9.57,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,593998,25169.64,0.081,688,17696.89,12.80,4.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
# Scaling the data using standard scaler
numerical_cols = X_train.select_dtypes(include=['number']).columns.tolist()
if 'id' in numerical_cols:
    numerical_cols.remove('id')

scaler = StandardScaler()
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

# Create logistic regression model
log_reg = LogisticRegression(max_iter=1000, random_state=42)

# train the model
log_reg.fit(X_train, train_y)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Write the predictions to a csv file
submission = pd.DataFrame({'id': test['id'], 'loan_paid_back': y_pred})
submission.to_csv('submission.csv', index=False)