<a href="https://colab.research.google.com/github/DarshanaHeendeniya/ML_Learning/blob/main/Copy_of_Loan_payment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing required packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Loading test and training data to DataFrames
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
# Explore data
train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11326 entries, 0 to 11325
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    11326 non-null  int64
 1   annual_income         11326 non-null  float64
 2   debt_to_income_ratio  11326 non-null  float64
 3   credit_score          11326 non-null  int64
 4   loan_amount           11326 non-null  float64
 5   interest_rate         11326 non-null  float64
 6   gender                11326 non-null  object
 7   marital_status        11326 non-null  object
 8   education_level       11326 non-null  object
 9   employment_status     11326 non-null  object
 10  loan_purpose          11326 non-null  object
 11  grade_subgrade        11325 non-null  object
 12  loan_paid_back        11325 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 1.1+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11594 entries, 0 to 11593
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    11594 non-null  int64
 1   annual_income         11594 non-null  float64
 2   debt_to_income_ratio  11594 non-null  float64
 3   credit_score          11594 non-null  int64
 4   loan_amount           11594 non-null  float64
 5   interest_rate         11594 non-null  float64
 6   gender                11594 non-null  object
 7   marital_status        11594 non-null  object
 8   education_level       11594 non-null  object
 9   employment_status     11594 non-null  object
 10  loan_purpose          11594 non-null  object
 11  grade_subgrade        11593 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 1.1+ MB

In [6]:
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [7]:
# Remove null values from the DataFrame first
train = train.dropna()

# Selecting the target variable
y = train['loan_paid_back']
X = train.drop('loan_paid_back', axis=1)

In [8]:
X.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1

In [9]:
# This cell was moved earlier to ensure data is clean before defining X and y.

In [10]:
train['education_level'].unique()

array(['High School', "Master's", "Bachelor's", 'PhD', 'Other'],
      dtype=object)

In [11]:
train['employment_status'].unique()

array(['Self-employed', 'Employed', 'Unemployed', 'Retired', 'Student'],
      dtype=object)

In [12]:
train['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [13]:
train['marital_status'].unique()

array(['Single', 'Married', 'Divorced', 'Widowed'], dtype=object)

In [14]:
train.isnull().sum()

id                      0
annual_income           0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
interest_rate           0
gender                  0
marital_status          0
education_level         0
employment_status       0
loan_purpose            0
grade_subgrade          0
loan_paid_back          0
dtype: int64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
# The ordinal encoding for 'education_level' is now handled in cell XOzcnJcHGw4z,
# along with 'gender' and 'marital_status'. This cell is now redundant.

In [17]:
X_train.columns

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade'],
      dtype='object')

In [18]:
odr_cols = ['education_level']
odr_encoder = OrdinalEncoder()
X_train[odr_cols] = odr_encoder.fit_transform(X_train[odr_cols])
X_test[odr_cols] = odr_encoder.transform(X_test[odr_cols])

In [19]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
10595,10595,76670.11,0.063,721,7609.81,14.98,Male,Married,2.0,Employed,Home,C4
10244,10244,58440.58,0.060,691,26375.58,10.23,Female,Married,0.0,Employed,Other,C1
5403,5403,70417.20,0.046,659,12001.42,13.31,Female,Married,0.0,Employed,Debt consolidation,D4
8201,8201,25602.95,0.090,728,22780.19,12.99,Female,Single,0.0,Employed,Other,C4
715,715,43221.48,0.090,681,24782.54,11.26,Female,Married,0.0,Employed,Other,C1

In [20]:
# Applying One Hot Encoding to gender, marital_status, employment_status, grade_subgrade and loan_purpose
OH_cols = ['gender', 'marital_status', 'employment_status', 'grade_subgrade', 'loan_purpose']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_encoded_train = OH_encoder.fit_transform(X_train[OH_cols])
OH_encoded_test = OH_encoder.transform(X_test[OH_cols])
col_names = OH_encoder.get_feature_names_out(OH_cols)
OH_encoded_train = pd.DataFrame(OH_encoded_train, columns=col_names)
OH_encoded_test = pd.DataFrame(OH_encoded_test, columns=col_names)

OH_encoded_train.index = X_train.index
OH_encoded_test.index = X_test.index

num_X_train = X_train.drop(OH_cols, axis=1)
num_X_test = X_test.drop(OH_cols, axis=1)

X_train = pd.concat([num_X_train, OH_encoded_train], axis=1)
X_test = pd.concat([num_X_test, OH_encoded_test], axis=1)

X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [21]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
10595,10595,76670.11,0.063,721,7609.81,14.98,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10244,10244,58440.58,0.060,691,26375.58,10.23,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5403,5403,70417.20,0.046,659,12001.42,13.31,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8201,8201,25602.95,0.090,728,22780.19,12.99,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
715,715,43221.48,0.090,681,24782.54,11.26,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
X_test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
1250,1250,30071.41,0.212,745,17821.11,10.70,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2816,2816,30688.85,0.082,658,13856.82,10.45,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6014,6014,49505.19,0.156,652,15809.45,12.49,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5781,5781,24206.62,0.082,685,15241.29,10.86,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10521,10521,14145.05,0.063,675,15662.20,14.05,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

## Logistic Regression Implementation

In [23]:
# Identify numerical columns for scaling (excluding 'id' if it's just an identifier)
numerical_cols = X_train.select_dtypes(include=['number']).columns.tolist()
# Assuming 'id' is not a feature to be scaled or used in the model, remove it
if 'id' in numerical_cols:
    numerical_cols.remove('id')

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to numerical features in X_train and X_test
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])


# Create logistic regression model
log_reg = LogisticRegression(max_iter=1000) # Increased max_iter already

# train the model
log_reg.fit(X_train, y_train)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Display results
print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 0.8874172185430463
Confusion Matrix:
 [[ 265  209]
 [  46 1745]]
Classification Report:
               precision    recall  f1-score   support

         0.0       0.85      0.56      0.68       474
         1.0       0.89      0.97      0.93      1791

    accuracy                           0.89      2265
   macro avg       0.87      0.77      0.80      2265
weighted avg       0.88      0.89      0.88      2265

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Decision Tree Classifier Implementation

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Create Decision Tree classifer object
dt_classifier = DecisionTreeClassifier(random_state=42)

# Train Decision Tree Classifer
dt_classifier.fit(X_train, y_train)

# Predict the response for test dataset
y_pred_dt = dt_classifier.predict(X_test)

# Evaluate the model performance
accuracy_dt = accuracy_score(y_test, y_pred_dt)
conf_matrix_dt = confusion_matrix(y_test, y_pred_dt)
class_report_dt = classification_report(y_test, y_pred_dt)

# Display results
print("Decision Tree Accuracy:", accuracy_dt)
print("Decision Tree Confusion Matrix:\n", conf_matrix_dt)
print("Decision Tree Classification Report:\n", class_report_dt)

Decision Tree Accuracy: 0.8300220750551877
Decision Tree Confusion Matrix:
 [[ 287  187]
 [ 198 1593]]
Decision Tree Classification Report:
               precision    recall  f1-score   support

         0.0       0.59      0.61      0.60       474
         1.0       0.89      0.89      0.89      1791

    accuracy                           0.83      2265
   macro avg       0.74      0.75      0.75      2265
weighted avg       0.83      0.83      0.83      2265

### Random Forest Classifier Implementation

In [25]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Create a Random Forest Classifier object
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42) # n_estimators is the number of trees in the forest

# Train the Random Forest Classifier
rf_classifier.fit(X_train, y_train)

# Predict the response for the test dataset
y_pred_rf = rf_classifier.predict(X_test)

# Evaluate the model performance
accuracy_rf = accuracy_score(y_test, y_pred_rf)
conf_matrix_rf = confusion_matrix(y_test, y_pred_rf)
class_report_rf = classification_report(y_test, y_pred_rf)

# Display results
print("Random Forest Accuracy:", accuracy_rf)
print("Random Forest Confusion Matrix:\n", conf_matrix_rf)
print("Random Forest Classification Report:\n", class_report_rf)

Random Forest Accuracy: 0.8860927152317881
Random Forest Confusion Matrix:
 [[ 258  216]
 [  42 1749]]
Random Forest Classification Report:
               precision    recall  f1-score   support

         0.0       0.86      0.54      0.67       474
         1.0       0.89      0.98      0.93      1791

    accuracy                           0.89      2265
   macro avg       0.88      0.76      0.80      2265
weighted avg       0.88      0.89      0.88      2265

## XGBoost Classification model implementation

In [26]:
# Create XGBoost claasification model
from xgboost import XGBClassifier
xgb_classifier = XGBClassifier(objective='binary:logistic', eval_metric='logloss', n_estimators=200, learning_rate=0.01, max_depth=10, n_jobs=-1, random_state=42, gamma=0.01)

# Train the model
xgb_classifier.fit(X_train, y_train)

# Predict the response for the test dataset
y_pred_xgb = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy_xgb = accuracy_score(y_test, y_pred_xgb)
conf_matrix_xgb = confusion_matrix(y_test, y_pred_xgb)
class_report_xgb = classification_report(y_test, y_pred_xgb)

# Display results
print("XGBoost Accuracy:", accuracy_xgb)
print("XGBoost Confusion Matrix:\n", conf_matrix_xgb)
print("XGBoost Classification Report:\n", class_report_xgb)

XGBoost Accuracy: 0.8878587196467991
XGBoost Confusion Matrix:
 [[ 256  218]
 [  36 1755]]
XGBoost Classification Report:
               precision    recall  f1-score   support

         0.0       0.88      0.54      0.67       474
         1.0       0.89      0.98      0.93      1791

    accuracy                           0.89      2265
   macro avg       0.88      0.76      0.80      2265
weighted avg       0.89      0.89      0.88      2265

## SVM Classification Model

In [27]:
# Create SVM classification model
# from sklearn.svm import SVC

# svm_model = SVC(kernel='rbf', C=1.0, random_state=42)

# Train the model
# svm_model.fit(X_train, y_train)

# Predict the response for the test dataset
# y_pred_svm = svm_model.predict(X_test)

# Evaluate the model
# accuracy_svm = accuracy_score(y_test, y_pred_svm)
# conf_matrix_svm = confusion_matrix(y_test, y_pred_svm)
# class_report_svm = classification_report(y_test, y_pred_svm)

# Display results
# print("SVM Accuracy:", accuracy_svm)
# print("SVM Confusion Matrix:\n", conf_matrix_svm)
# print("SVM Classification Report:\n", class_report_svm)

## Make predictions using full data set

In [42]:
# Using logistic regression

# Loading train and test data
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Remove null values in data sets
train = train.dropna()
test = test.dropna()

# Selecting the target variable
train_y = train['loan_paid_back']
train_X = train.drop('loan_paid_back', axis=1)

In [43]:
# Explore test data set
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [44]:
test.columns

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade'],
      dtype='object')

In [45]:
# Ordinal encoding educational_level
odr_cols = ['education_level']
odr_encoder = OrdinalEncoder()
train_X[odr_cols] = odr_encoder.fit_transform(train_X[odr_cols])
test[odr_cols] = odr_encoder.transform(test[odr_cols])

In [46]:
# Explore train data set
train_X.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,1.0,Self-employed,Other,C3
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,2.0,Employed,Debt consolidation,D3
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,1.0,Employed,Debt consolidation,C5
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,1.0,Employed,Debt consolidation,F1
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,1.0,Employed,Other,D1

In [47]:
# Explore test data set
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,1.0,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,2.0,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,0.0,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,0.0,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,4.0,Employed,Business,C1

In [48]:
# One Hot Encoding gender, marital_status, employment_status, learn_purpose and grade_subgrade
OH_cols = ['gender', 'marital_status', 'employment_status', 'grade_subgrade', 'loan_purpose']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_encoded_train = OH_encoder.fit_transform(train_X[OH_cols])
col_names = OH_encoder.get_feature_names_out(OH_cols)
OH_encoded_train = pd.DataFrame(OH_encoded_train, columns=col_names)

OH_encoded_test = OH_encoder.transform(test[OH_cols])
OH_encoded_test = pd.DataFrame(OH_encoded_test, columns=col_names)

# Get numerical columns from train and test data sets
num_train_X = train_X.drop(OH_cols, axis=1)
num_test = test.drop(OH_cols, axis=1)

# Concatenate numerical and one-hot encoded columns
X_train = pd.concat([num_train_X, OH_encoded_train], axis=1)
X_test = pd.concat([num_test, OH_encoded_test], axis=1)

X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [49]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254569 entries, 0 to 254568
Data columns (total 57 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   id                               254569 non-null  int64
 1   annual_income                    254569 non-null  float64
 2   debt_to_income_ratio             254569 non-null  float64
 3   credit_score                     254569 non-null  int64
 4   loan_amount                      254569 non-null  float64
 5   interest_rate                    254569 non-null  float64
 6   education_level                  254569 non-null  float64
 7   gender_Female                    254569 non-null  float64
 8   gender_Male                      254569 non-null  float64
 9   gender_Other                     254569 non-null  float64
 10  marital_status_Divorced          254569 non-null  float64
 11  marital_status_Married           254569 non-null  float64
 12  marital_status_Single            254569 non-null  float64
 13  marital_status_Widowed           254569 non-null  float64
 14  employment_status_Employed       254569 non-null  float64
 15  employment_status_Retired        254569 non-null  float64
 16  employment_status_Self-employed  254569 non-null  float64
 17  employment_status_Student        254569 non-null  float64
 18  employment_status_Unemployed     254569 non-null  float64
 19  grade_subgrade_A1                254569 non-null  float64
 20  grade_subgrade_A2                254569 non-null  float64
 21  grade_subgrade_A3                254569 non-null  float64
 22  grade_subgrade_A4                254569 non-null  float64
 23  grade_subgrade_A5                254569 non-null  float64
 24  grade_subgrade_B1                254569 non-null  float64
 25  grade_subgrade_B2                254569 non-null  float64
 26  grade_subgrade_B3                254569 non-null  float64
 27  grade_subgrade_B4                254569 non-null  float64
 28  grade_subgrade_B5                254569 non-null  float64
 29  grade_subgrade_C1                254569 non-null  float64
 30  grade_subgrade_C2                254569 non-null  float64
 31  grade_subgrade_C3                254569 non-null  float64
 32  grade_subgrade_C4                254569 non-null  float64
 33  grade_subgrade_C5                254569 non-null  float64
 34  grade_subgrade_D1                254569 non-null  float64
 35  grade_subgrade_D2                254569 non-null  float64
 36  grade_subgrade_D3                254569 non-null  float64
 37  grade_subgrade_D4                254569 non-null  float64
 38  grade_subgrade_D5                254569 non-null  float64
 39  grade_subgrade_E1                254569 non-null  float64
 40  grade_subgrade_E2                254569 non-null  float64
 41  grade_subgrade_E3                254569 non-null  float64
 42  grade_subgrade_E4                254569 non-null  float64
 43  grade_subgrade_E5                254569 non-null  float64
 44  grade_subgrade_F1                254569 non-null  float64
 45  grade_subgrade_F2                254569 non-null  float64
 46  grade_subgrade_F3                254569 non-null  float64
 47  grade_subgrade_F4                254569 non-null  float64
 48  grade_subgrade_F5                254569 non-null  float64
 49  loan_purpose_Business            254569 non-null  float64
 50  loan_purpose_Car                 254569 non-null  float64
 51  loan_purpose_Debt consolidation  254569 non-null  float64
 52  loan_purpose_Education           254569 non-null  float64
 53  loan_purpose_Home                254569 non-null  float64
 54  loan_purpose_Medical             254569 non-null  float64
 55  loan_purpose_Other               254569 non-null  float64
 56  loan_purpose_Vacation            254569 non-null  float64
dtypes: float64(55), int64(2)
memory usage: 110.7 MB

In [50]:
# Explore train data set
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,0,29367.99,0.084,736,2528.42,13.67,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,22108.02,0.166,636,4593.10,12.92,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,49566.20,0.097,694,17005.15,9.76,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,46858.25,0.065,533,4682.48,16.10,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,25496.70,0.053,665,12184.43,10.21,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [51]:
# Explore test data set
X_test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
0,593994,28781.05,0.049,626,11461.42,14.73,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,593995,46626.39,0.093,732,15492.25,12.85,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,593996,54954.89,0.367,611,3796.41,13.29,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,593997,25644.63,0.110,671,6574.30,9.57,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,593998,25169.64,0.081,688,17696.89,12.80,4.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Scaling the data using standard scaler
numerical_cols = X_train.select_dtypes(include=['number']).columns.tolist()
if 'id' in numerical_cols:
    numerical_cols.remove('id')

scaler = StandardScaler()
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])

# Create logistic regression model
log_reg = LogisticRegression(max_iter=1000, random_state=42, C=10, solver='saga', penalty='elasticnet', l1_ratio=0.5)

# train the model
log_reg.fit(X_train, train_y)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Write the predictions to a csv file
submission = pd.DataFrame({'id': test['id'], 'loan_paid_back': y_pred})
submission.to_csv('log_submission.csv', index=False)

In [53]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254569 entries, 0 to 254568
Data columns (total 57 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   id                               254569 non-null  int64
 1   annual_income                    254569 non-null  float64
 2   debt_to_income_ratio             254569 non-null  float64
 3   credit_score                     254569 non-null  float64
 4   loan_amount                      254569 non-null  float64
 5   interest_rate                    254569 non-null  float64
 6   education_level                  254569 non-null  float64
 7   gender_Female                    254569 non-null  float64
 8   gender_Male                      254569 non-null  float64
 9   gender_Other                     254569 non-null  float64
 10  marital_status_Divorced          254569 non-null  float64
 11  marital_status_Married           254569 non-null  float64
 12  marital_status_Single            254569 non-null  float64
 13  marital_status_Widowed           254569 non-null  float64
 14  employment_status_Employed       254569 non-null  float64
 15  employment_status_Retired        254569 non-null  float64
 16  employment_status_Self-employed  254569 non-null  float64
 17  employment_status_Student        254569 non-null  float64
 18  employment_status_Unemployed     254569 non-null  float64
 19  grade_subgrade_A1                254569 non-null  float64
 20  grade_subgrade_A2                254569 non-null  float64
 21  grade_subgrade_A3                254569 non-null  float64
 22  grade_subgrade_A4                254569 non-null  float64
 23  grade_subgrade_A5                254569 non-null  float64
 24  grade_subgrade_B1                254569 non-null  float64
 25  grade_subgrade_B2                254569 non-null  float64
 26  grade_subgrade_B3                254569 non-null  float64
 27  grade_subgrade_B4                254569 non-null  float64
 28  grade_subgrade_B5                254569 non-null  float64
 29  grade_subgrade_C1                254569 non-null  float64
 30  grade_subgrade_C2                254569 non-null  float64
 31  grade_subgrade_C3                254569 non-null  float64
 32  grade_subgrade_C4                254569 non-null  float64
 33  grade_subgrade_C5                254569 non-null  float64
 34  grade_subgrade_D1                254569 non-null  float64
 35  grade_subgrade_D2                254569 non-null  float64
 36  grade_subgrade_D3                254569 non-null  float64
 37  grade_subgrade_D4                254569 non-null  float64
 38  grade_subgrade_D5                254569 non-null  float64
 39  grade_subgrade_E1                254569 non-null  float64
 40  grade_subgrade_E2                254569 non-null  float64
 41  grade_subgrade_E3                254569 non-null  float64
 42  grade_subgrade_E4                254569 non-null  float64
 43  grade_subgrade_E5                254569 non-null  float64
 44  grade_subgrade_F1                254569 non-null  float64
 45  grade_subgrade_F2                254569 non-null  float64
 46  grade_subgrade_F3                254569 non-null  float64
 47  grade_subgrade_F4                254569 non-null  float64
 48  grade_subgrade_F5                254569 non-null  float64
 49  loan_purpose_Business            254569 non-null  float64
 50  loan_purpose_Car                 254569 non-null  float64
 51  loan_purpose_Debt consolidation  254569 non-null  float64
 52  loan_purpose_Education           254569 non-null  float64
 53  loan_purpose_Home                254569 non-null  float64
 54  loan_purpose_Medical             254569 non-null  float64
 55  loan_purpose_Other               254569 non-null  float64
 56  loan_purpose_Vacation            254569 non-null  float64
dtypes: float64(56), int64(1)
memory usage: 110.7 MB

In [56]:
# Using Decision Tree Regression
# Create decision tree regression model
dt_classifier = DecisionTreeClassifier(random_state=42, max_depth=10, class_weight='balanced')

# Train the model
dt_classifier.fit(X_train, train_y)

# Predict on test set
y_pred = dt_classifier.predict(X_test)

# Write the prediction to a CSV file
submission = pd.DataFrame({'id': test['id'], 'loan_paid_back': y_pred})
submission.to_csv('dt_submission.csv', index=False)