<a href="https://colab.research.google.com/github/DarshanaHeendeniya/ML_Learning/blob/main/Loan_payment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
# Importing required packages
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [134]:
# Loading test and training data to DataFrames
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [135]:
# Explore data
train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [136]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 593994 entries, 0 to 593993
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    593994 non-null  int64
 1   annual_income         593994 non-null  float64
 2   debt_to_income_ratio  593994 non-null  float64
 3   credit_score          593994 non-null  int64
 4   loan_amount           593994 non-null  float64
 5   interest_rate         593994 non-null  float64
 6   gender                593994 non-null  object
 7   marital_status        593994 non-null  object
 8   education_level       593994 non-null  object
 9   employment_status     593994 non-null  object
 10  loan_purpose          593994 non-null  object
 11  grade_subgrade        593994 non-null  object
 12  loan_paid_back        593994 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 58.9+ MB

In [137]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254569 entries, 0 to 254568
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    254569 non-null  int64
 1   annual_income         254569 non-null  float64
 2   debt_to_income_ratio  254569 non-null  float64
 3   credit_score          254569 non-null  int64
 4   loan_amount           254569 non-null  float64
 5   interest_rate         254569 non-null  float64
 6   gender                254569 non-null  object
 7   marital_status        254569 non-null  object
 8   education_level       254569 non-null  object
 9   employment_status     254569 non-null  object
 10  loan_purpose          254569 non-null  object
 11  grade_subgrade        254569 non-null  object
dtypes: float64(4), int64(2), object(6)
memory usage: 23.3+ MB

In [138]:
test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,593994,28781.05,0.049,626,11461.42,14.73,Female,Single,High School,Employed,Other,D5
1,593995,46626.39,0.093,732,15492.25,12.85,Female,Married,Master's,Employed,Other,C1
2,593996,54954.89,0.367,611,3796.41,13.29,Male,Single,Bachelor's,Employed,Debt consolidation,D1
3,593997,25644.63,0.110,671,6574.30,9.57,Female,Single,Bachelor's,Employed,Debt consolidation,C3
4,593998,25169.64,0.081,688,17696.89,12.80,Female,Married,PhD,Employed,Business,C1

In [139]:
# Remove null values from the DataFrame first
train = train.dropna()

# Selecting the target variable
y = train['loan_paid_back']
X = train.drop('loan_paid_back', axis=1)

In [140]:
X.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1

In [121]:
# This cell was moved earlier to ensure data is clean before defining X and y.

In [141]:
train['education_level'].unique()

array(['High School', "Master's", "Bachelor's", 'PhD', 'Other'],
      dtype=object)

In [142]:
train['employment_status'].unique()

array(['Self-employed', 'Employed', 'Unemployed', 'Retired', 'Student'],
      dtype=object)

In [143]:
train['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [144]:
train['marital_status'].unique()

array(['Single', 'Married', 'Divorced', 'Widowed'], dtype=object)

In [145]:
train.isnull().sum()

id                      0
annual_income           0
debt_to_income_ratio    0
credit_score            0
loan_amount             0
interest_rate           0
gender                  0
marital_status          0
education_level         0
employment_status       0
loan_purpose            0
grade_subgrade          0
loan_paid_back          0
dtype: int64

In [146]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
# The ordinal encoding for 'education_level' is now handled in cell XOzcnJcHGw4z,
# along with 'gender' and 'marital_status'. This cell is now redundant.

In [128]:
X_train.columns

Index(['id', 'annual_income', 'debt_to_income_ratio', 'credit_score',
       'loan_amount', 'interest_rate', 'gender', 'marital_status',
       'education_level', 'employment_status', 'loan_purpose',
       'grade_subgrade'],
      dtype='object')

In [147]:
odr_cols = ['education_level']
odr_encoder = OrdinalEncoder()
X_train[odr_cols] = odr_encoder.fit_transform(X_train[odr_cols])
X_test[odr_cols] = odr_encoder.transform(X_test[odr_cols])

In [148]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade
119010,119010,17165.69,0.071,719,19154.78,9.31,Male,Married,0.0,Employed,Debt consolidation,C5
165500,165500,87929.11,0.071,728,7367.61,11.94,Female,Single,1.0,Employed,Debt consolidation,C2
290800,290800,37254.01,0.080,654,2672.78,12.52,Female,Single,0.0,Employed,Other,D4
184308,184308,25863.67,0.068,732,10703.41,10.71,Male,Married,3.0,Employed,Other,C5
137347,137347,153072.69,0.090,668,7782.41,10.59,Female,Married,2.0,Unemployed,Car,D2

In [149]:
# Applying One Hot Encoding to gender, marital_status, employment_status, grade_subgrade and loan_purpose
OH_cols = ['gender', 'marital_status', 'employment_status', 'grade_subgrade', 'loan_purpose']
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_encoded_train = OH_encoder.fit_transform(X_train[OH_cols])
OH_encoded_test = OH_encoder.transform(X_test[OH_cols])
col_names = OH_encoder.get_feature_names_out(OH_cols)
OH_encoded_train = pd.DataFrame(OH_encoded_train, columns=col_names)
OH_encoded_test = pd.DataFrame(OH_encoded_test, columns=col_names)

OH_encoded_train.index = X_train.index
OH_encoded_test.index = X_test.index

num_X_train = X_train.drop(OH_cols, axis=1)
num_X_test = X_test.drop(OH_cols, axis=1)

X_train = pd.concat([num_X_train, OH_encoded_train], axis=1)
X_test = pd.concat([num_X_test, OH_encoded_test], axis=1)

X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [150]:
X_train.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
119010,119010,17165.69,0.071,719,19154.78,9.31,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
165500,165500,87929.11,0.071,728,7367.61,11.94,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
290800,290800,37254.01,0.080,654,2672.78,12.52,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
184308,184308,25863.67,0.068,732,10703.41,10.71,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
137347,137347,153072.69,0.090,668,7782.41,10.59,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [151]:
X_test.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,education_level,gender_Female,gender_Male,gender_Other,...,grade_subgrade_F4,grade_subgrade_F5,loan_purpose_Business,loan_purpose_Car,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation
404674,404674,52470.61,0.241,724,27172.82,13.35,4.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
549728,549728,28424.82,0.033,779,15895.96,11.57,3.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
125237,125237,25229.55,0.195,569,15216.06,13.83,2.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
512666,512666,91612.58,0.166,659,13166.90,12.47,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
101001,101001,79712.79,0.079,767,23642.37,11.23,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [157]:
# Identify numerical columns for scaling (excluding 'id' if it's just an identifier)
numerical_cols = X_train.select_dtypes(include=['number']).columns.tolist()
# Assuming 'id' is not a feature to be scaled or used in the model, remove it
if 'id' in numerical_cols:
    numerical_cols.remove('id')

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to numerical features in X_train and X_test
X_train[numerical_cols] = scaler.fit_transform(X_train[numerical_cols])
X_test[numerical_cols] = scaler.transform(X_test[numerical_cols])


# Create logistic regression model
log_reg = LogisticRegression(max_iter=1000) # Increased max_iter already

# train the model
log_reg.fit(X_train, y_train)

# Predict on test set
y_pred = log_reg.predict(X_test)

# Evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Display results
print("Accuracy:", accuracy)
print("Confusion Matrix:\n", conf_matrix)
print("Classification Report:\n", class_report)

Accuracy: 0.9007988282729653
Confusion Matrix:
 [[14528  9469]
 [ 2316 92486]]
Classification Report:
               precision    recall  f1-score   support

         0.0       0.86      0.61      0.71     23997
         1.0       0.91      0.98      0.94     94802

    accuracy                           0.90    118799
   macro avg       0.88      0.79      0.83    118799
weighted avg       0.90      0.90      0.89    118799